.scroll-section {
  padding-top: 50vh;
  border: 2px solid red;

  .main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
    p {
      font-weight: bold;
      text-align: center;
      line-height: 1.2;

      small {
        display: block;
        margin-bottom: 0.5em;
        font-size: 1.2rem;
      }
    }
  }
}

.scroll-section {
  .sticky-elem {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .sticky-elem {
    p {
      font-weight: bold;
      text-align: center;
      line-height: 1.2;

      small {
        display: block;
        margin-bottom: 0.5em;
        font-size: 1.2rem;
      }
    }
  }
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

#scroll-section-0 {
  h1 {
    font-size: 4rem;
    text-align: center;
  }
}

#scroll-section-1 {
  .description {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    font-size: 1.2rem;

    strong {
      float: left;
      margin-right: 0.2em;
      text-align: start;
      font-size: 2.3rem;
      color: #00b5e2;
    }
  }
}

#scroll-section-2 {
  .main-message {
    font-size: 3rem;
  }
  .desc-message {
    width: 50%;
    font-weight: bold;
    p {
      font-size: 0.8rem;
    }
    .pin {
      width: 1px;
      height: 100px;
      background-color: #fff;
    }
  }
}

#scroll-section-3 {
  .mid-message {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    font-size: 1.9rem;
    color: #888;
    strong {
      color: #8f00ff;
    }
  }
  .canvas-caption {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
    font-size: 1.2rem;
    color: #888;
  }
}
