@charset 'utf-8';

html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 14px;
}

body {
  overflow-x: hidden;
  color: #fff;
  letter-spacing: -0.05;
  background-color: rgb(29, 29, 31);
}

p {
  line-height: 1.6;
}

@import './base/default.scss';
@import './layouts/nav.scss';
@import './layouts/scrolls.scss';
@import './layouts/footer.scss';
@import './layouts/responsive.scss';
